# === ENVIRONNEMENT PYTHON ===
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# === JUPYTER ===
.ipynb_checkpoints/

# === DONNÉES (gérées avec DVC) ===
data/raw/raw_data.csv
data/raw/companies_links.csv
data/raw/scrape_state.json
data/raw/trustpilot_data_raw_2025-09-05__083004.csv
data/raw/trustpilot_data_raw_2025-09-05__061005.csv
data/raw/trustpilot_data.csv
data/processed/processed_data.csv
models/random_forest/model.joblib
models/random_forest/metrics.json
models/linear_regression/model.joblib
models/linear_regression/metrics.json

# === DVC (secrets et cache local uniquement) ===
.dvc/tmp/
.dvc/cache/
.dvc/config.local

# === AIRFLOW ===
airflow/logs/
airflow/airflow.db

# === API SECRETS ===
api/security/config.py

# === DOCKER / SYSTEME ===
*.log
*.DS_Store
.env