# === ENVIRONNEMENT PYTHON ===
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# === JUPYTER ===
.ipynb_checkpoints/

# === DONNÉES (gérées avec DVC) ===
data/raw/raw_data.csv
data/processed/processed_data.csv
models/random_forest/model.pkl
models/random_forest/vectorizer.pkl
models/random_forest/metrics.json
models/linear_regression/model.pkl
models/linear_regression/vectorizer.pkl
models/linear_regression/metrics.json

# === DVC (secrets et cache local uniquement) ===
.dvc/tmp/
.dvc/cache/
.dvc/config.local

# === API SECRETS ===
api/security/config.py

# === DOCKER / SYSTEME ===
*.log
*.DS_Store
.env
